/* 
////////////////////////////
FONTS
////////////////////////////
*/

/* titulos   'Libre Franklin', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap");
/* titulos secundarios  'Prompt', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap");
/* textos  'Biryani', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap");
/* 
////////////////////////////
General Border-Box reset 
////////////////////////////
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
////////////////////////////
GLOBAL CSS
////////////////////////////
*/

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(83, 69%, 19%);
  --clr-primary-2: hsl(83, 65%, 24%);
  --clr-primary-3: hsl(83, 54%, 33%);
  --clr-primary-4: hsl(99, 34%, 44%);
  /* primary/main color */
  --clr-primary-5: #75ae56;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(99, 45%, 57%);
  --clr-primary-7: hsl(99, 52%, 61%);

  --clr-orange: #e94b0c;

  /* darkest grey - used for headings */
  --clr-grey-1: #3a3a3a;
  --clr-grey-2: #454545;
  --clr-grey-3: #515151;
  --clr-grey-4: #5c5c5c;
  /* grey used for paragraphs */
  --clr-grey-5: rgb(114, 114, 114);
  --clr-grey-6: #888888;
  --clr-grey-7: #9d9d9d;
  --clr-grey-8: #b3b3b3;
  --clr-grey-9: #c9c9c9;
  --clr-grey-10: #fafafa;
  --clr-white: #fff;
  --ff-title: "Libre Franklin", sans-serif;
  --ff-sec-title: "Prompt", sans-serif;
  --ff-text: "Biryani", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: var(--ff-text);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-title);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
///////////////////////////////////
GLOBAL CLASSES
////////////////////////////////// 
 */

.img {
  display: block;
  max-width: 50%;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

.underline {
  background: var(--clr-primary-6);
  height: 0.1rem;
  width: 20%;
  border-radius: var(--radius);
  margin: 0 auto;
}

/* 
///////////////////////////////////
NAVBAR
////////////////////////////////// 
 */
nav {
  position: fixed;
  width: 100vw;
  box-shadow: var(--dark-shadow);
  z-index: 10;
  background: white;
}
.nav-center {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-center h2 {
  font-size: 1rem;
  color: var(--clr-primary-4);
  padding-top: 1rem;
}
.logo {
  display: block;
  max-height: 2rem;
}
.nav-toggle {
  border: transparent;
  background: transparent;
  font-size: 1rem;
}
.nav-toggle i {
  color: rgba(0, 0, 0, 0.7b);
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.nav-close {
  position: absolute;
  top: 5%;
  right: 5%;
  border: transparent;
  font-size: 2rem;
  background: transparent;
}
.nav-links li {
  padding-bottom: 1rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-size: 1.5rem;
}
.nav-links a {
  color: black;
  cursor: default;
}
.hide-nav {
  display: none;
}
/* 
///////////////////////////////////
HERO
////////////////////////////////// 
 */

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 2rem;

  background: linear-gradient(rgba(101, 150, 74, 0.3), rgba(0, 0, 0, 0.7)),
    url("../images/25.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}
.hero h2 {
  color: var(--clr-primary-5);
  font-size: 3rem;
}
.hero-center {
  height: 80%;
  width: 90%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wave {
  color: var(--clr-primary-7);
}
.main-bottom-divisor {
  margin-top: -30px;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}

/* 
///////////////////////////////////
SECTIONS
////////////////////////////////// 
 */
section {
  padding-top: 4rem;
}
.article {
  text-align: center;
  padding: 2rem 1rem 0 1rem;
}
/* IMPAIR SECTIONS */
.impair-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  letter-spacing: var(--spacing);
  font-style: italic;
  color: var(--clr-primary-5);
}
.impair-img-container {
  height: 100%;
}
.impair-img {
  border-radius: var(--radius);
  max-width: 350px;
  box-shadow: var(--light-shadow);
}
.impair-text {
  max-width: 80%;
  margin: 3rem auto;
  color: var(--clr-primary-5);
}
.impair-links {
  padding: 0 4rem;
  display: flex;
  justify-content: space-around;
}
.impair-links a {
  color: var(--clr-primary-5);
  font-size: 1.5rem;
}

/* PAIR SECTIONS */
.pair {
  background: #e94b0c;
}
.pair-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  letter-spacing: var(--spacing);
  font-style: italic;
  color: white;
}
.pair-img {
  margin: auto auto;
  display: block;
  border-radius: var(--radius);
  max-width: 350px;
  box-shadow: var(--light-shadow);
}
.pair-text {
  max-width: 80%;
  margin: 3rem auto;
  color: white;
}

.pair-links {
  padding: 0 4rem;
  display: flex;
  justify-content: space-around;
}

.pair-links a {
  color: white;
  font-size: 1.5rem;
}
#info-btn {
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 2fr;
  }
  .pair-img-container {
    padding-top: 0.5rem;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .impair-img-container {
    padding-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 1/-1;
    /* background: red; */
  }
}
/* 
///////////////////////////////////
FOOTER
////////////////////////////////// 
 */
footer {
  background: var(--clr-grey-3);
  height: 6rem;
  padding: 2rem 1rem 1rem 1rem;

  text-align: center;
  color: white;
}

.footer-link {
  color: white;
  font-size: 1rem;
}
