/* 
////////////////////////////
FONTS
////////////////////////////
*/

/* titulos   catamaran */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap");
/* textos  martel */
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap");
/* 
////////////////////////////
General Border-Box reset 
////////////////////////////
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
////////////////////////////
GLOBAL CSS
////////////////////////////
*/

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-pink-1: rgb(245, 143, 203);
  --clr-pink-2: rgb(242, 118, 191);
  --clr-pink-3: rgb(238, 68, 168);
  --clr-pink-4: rgb(235, 43, 156);
  /* primary/main color */
  --clr-pink-5: rgb(232, 6, 139);
  /* lighter shades of primary color */
  --clr-pink-6: rgb(174, 5, 104);
  --clr-pink-7: rgb(151, 4, 90);

  --clr-orange-: #f17105;
  --clr-orange-5: rgba(25, 122, 114, 0.9);

  /* #f45d01 */

  --clr-turquoise-light: rgb(2, 168, 158);
  /* --clr-turquoise-dark: #116d65; */
  /* test */
  --clr-turquoise-dark: #21625d;

  --clr-orange: #e94b0c;

  /* darkest grey - used for headings */
  --clr-grey-1: #3a3a3a;
  --clr-grey-2: #454545;
  --clr-grey-3: #515151;
  --clr-grey-4: #5c5c5c;
  /* grey used for paragraphs */
  --clr-grey-5: rgb(114, 114, 114);
  --clr-grey-6: #888888;
  --clr-grey-7: #9d9d9d;
  --clr-grey-8: #b3b3b3;
  --clr-grey-9: #e6e6e6;
  --clr-grey-10: #fafafa;
  --clr-white: #fff;
  --ff-title: "Catamaran", sans-serif;
  --ff-text: "Martel", serif;
  --transition: all 0.5s ease-out;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: var(--ff-text);
  background: var(--clr-white);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-title);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
///////////////////////////////////
GLOBAL CLASSES
////////////////////////////////// 
 */

.img {
  display: block;
  max-width: 50%;
}
.btn {
  text-transform: uppercase;
  background: var(--clr-turquoise-dark);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-pink-1);
  background: var(--clr-turquoise-light);
}

.underline {
  background: var(--clr-pink-6);
  height: 0.1rem;
  width: 20%;
  border-radius: var(--radius);
  margin: 0 auto;
}

/* 
///////////////////////////////////
ANIMATIONS
////////////////////////////////// 
 */
@keyframes growAndBack {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* 
///////////////////////////////////
NAVBAR
////////////////////////////////// 
 */
.nav-center {
  position: fixed;
  width: 100vw;
  box-shadow: var(--dark-shadow);
  z-index: 100;
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}
.nav-center h2 {
  font-size: 1rem;
  color: var(--clr-turquoise-dark);
  padding-top: 1rem;
}
.logo {
  display: block;
  max-height: 2rem;
}
.nav-toggle {
  width: 3rem;
  height: 2rem;
  border: transparent;
  background: transparent;
  font-size: 1rem;
}
.nav-toggle i {
  color: rgba(0, 0, 0, 0.7b);
  cursor: pointer;
}
.nav-links {
  z-index: 1000;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  transition: var(--transition);
}
.nav-links ul {
  text-align: center;
  width: 80%;
}
.nav-close {
  position: absolute;
  top: 5%;
  right: 5%;
  border: transparent;
  font-size: 2rem;
  background: transparent;
  cursor: pointer;
  width: 5rem;
}
.nav-links li {
  padding-bottom: 1rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  font-size: 1.5rem;
}
.nav-links li:hover {
  cursor: pointer;
}
.hide-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-links {
    position: fixed;
    display: flex;
    height: 10rem;
    margin-top: 0;
    padding-top: 6rem;
    background-color: rgb(255, 250, 250);
    z-index: 9;
    box-shadow: var(--dark-shadow);
  }
  .hide-nav {
    display: inline;
    height: 4rem;
    margin-top: -8rem;
  }
  .nav-links ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  .nav-links li {
    color: var(--clr-turquoise-dark);
    width: 10rem;
    font-size: 1.2rem;
    transition: var(--transition);
  }
  .nav-links li:hover {
    transform: scale(1.2);
  }

  .nav-close {
    display: none;
  }
  .nav-toggle {
    animation: growAndBack 1.5s infinite ease;
  }
}
/* 
///////////////////////////////////
HERO
////////////////////////////////// 
 */

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 2rem;

  background: linear-gradient(rgba(243, 163, 65, 0.3), rgba(0, 0, 0, 0.7)),
    url("../images/25.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -1;
}
.hero h2 {
  color: var(--clr-pink-5);
  font-size: 3rem;
}
.hero-center {
  height: 80%;
  width: 90%;
  margin: auto auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wave {
  color: var(--clr-pink-7);
}
.main-bottom-divisor {
  margin-top: -30px;
  height: 50px;
  overflow: hidden;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(243, 163, 65, 0.3), rgba(0, 0, 0, 0.7)),
      url("../images/23.jpg") center/cover no-repeat;
  }
}

/* 
///////////////////////////////////
SECTIONS
////////////////////////////////// 
 */
section {
  padding-top: 4rem;
}
.article {
  text-align: center;
  padding: 2rem 1rem 0 1rem;
}
/* IMPAIR SECTIONS */
.impair-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  letter-spacing: var(--spacing);
  /* font-style: italic; */
  color: var(--clr-turquoise-dark);
}
.impair-img {
  width: 70%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
.impair-text {
  max-width: 80%;
  margin: 3rem auto;
  color: var(--clr-turquoise-dark);
}
.impair-links {
  padding: 0 4rem;
  display: flex;
  justify-content: space-around;
}
.impair-links a {
  transition: var(--transition);
  color: var(--clr-turquoise-dark);
  font-size: 1.5rem;
}
.text-toggle-btn {
  padding: 0.1rem;
  font-style: italic;
  background-color: transparent;
  border: none;
  font: var(--ff-text);
  color: var(--clr-orange-5);
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.text-toggle-btn:hover {
  cursor: pointer;
}
.album-text-toggle-btn {
  padding: 0.1rem;
  font-style: italic;
  background-color: transparent;
  border: none;
  font: var(--ff-text);
  color: var(--clr-pink-6);
  margin-left: 0.5rem;
  /* font-size: 1rem; */
}
.album-text-toggle-btn:hover {
  cursor: pointer;
}

/* PAIR SECTIONS */
.pair {
  background: var(--clr-orange-5);
}
.pair-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  letter-spacing: var(--spacing);
  /* font-style: italic; */
  color: var(--clr-grey-9);
}
.pair-img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
.pair-text {
  max-width: 80%;
  margin: 3rem auto;
  color: var(--clr-grey-9);
}

.pair-links {
  padding: 0 4rem;
  display: flex;
  justify-content: space-around;
}

.pair-links a {
  transition: var(--transition);
  color: white;
  font-size: 1.5rem;
}
#info-btn {
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) {
  .article {
    padding: 7rem 1rem 10rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 2fr;
  }
  .pair-img-container {
    padding-top: 0.5rem;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .impair-img-container {
    padding-top: 0.5rem;
    grid-column: 2/3;
    grid-row: 1/-1;
  }
  .impair-links a:hover {
    transform: scale(1.2);
  }
  .pair-links a:hover {
    transform: scale(1.2);
  }
}
/* 
///////////////////////////////////
FOOTER
////////////////////////////////// 
 */
footer {
  margin-top: 2rem;
  background: var(--clr-grey-3);
  height: 6rem;
  padding: 2rem 1rem 1rem 1rem;

  text-align: center;
  color: white;
}

.footer-link {
  color: white;
  font-size: 1rem;
}
